<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Github Commit information</h2>

<table id="commit_info" class="display" style="width:100%">
<thead>
  <tr>
    <th>commit_id</th>
    <th>username</th>
    <th>author_name</th>
    <th>email</th>
    <th>commitmsg</th>
    <th>created_on</th>
  </tr>
</thead>
<tbody>
    {% for i  in res %} 
  <tr>
    <td>{{i.commit_id}}</td>
    <td>{{i.username}}</td>
    <td>{{i.author_name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.commitmsg}}</td>
    <td>{{i.created_on}}</td>
  </tr>
    {% endfor %}
</tbody>
</table>
<p>To undestand the example better, we have added borders to the table.</p>

</body>

</html>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#commit_info').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excel',
                text: 'Excel',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            },
            {
                extend: 'csv',
                text: 'CSV',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            },
            {
                extend: 'pdf',
                text: 'PDF',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            }]
        });

    });
</script>