{% extends "base/index.html" %}
{% block content %}

<h2>Milvik AWS Inventory</h2>

<table id="server_inventory" class="display" style="width:100%">
<thead>
  <tr>
    <th>DB_name</th>
    <th>DB_Instance_name</th>
    <th>DB_Type</th>
    <th>DB_Storage</th>
    <th>DB_Engine</th>
    <th>DB_Engine_Ver</th>
    <th>Region</th>
    <th>Environment</th>
    <th>Country</th>
    <th>Workload_Type</th>
    <th>DB_Endpoint</th>
    <th>DB_Vpc_Id</th>
    <th>DB_Read_replica</th>
  </tr>
</thead>
<tbody>
    {% for i  in res %} 
  <tr>
    <td>{{i.db_name}}</td>
    <td>{{i.db_instance_name}}</td>
    <td>{{i.db_type}}</td>
    <td>{{i.db_storage}}</td>
    <td>{{i.db_engine}}</td>
    <td>{{i.db_engine_ver}}</td>
    <td>{{i.region}}</td>
    <td>{{i.environment}}</td>
    <td>{{i.country}}</td>
    <td>{{i.workload_type}}</td>
    <td>{{i.db_endpoint}}</td>
    <td>{{i.db_vpc_id}}</td>
    <td>{{i.db_read_replica_db}}</td>
  </tr>
    {% endfor %}
</tbody>
</table>

<script>
    $(document).ready(function () {
        $('#server_inventory').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excel',
                text: 'Excel',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            },
            {
                extend: 'csv',
                text: 'CSV',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            },
            {
                extend: 'pdf',
                text: 'PDF',
                className: 'exportExcel',
                filename: 'commit_info',
                exportOptions: { modifier: { page: 'all'} }
            }]
        });

    });
</script>
{% endblock %}